.ParticleBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  .projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
    margin-top: 4rem;
    position: relative; 
    z-index: 1; 
  }
  
  .projects-content {
    width: 80vw;
    z-index: 1; 
  }
  
  .projects-heading {
    text-align: center;
    font-size: 4rem;
    font-weight: 1000;
    color:  #87209e;;
    font-family: "Black Ops One";
    letter-spacing: 0.1rem;
    z-index: 1; 
  }
  
  .radio-group {
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }