
 
  :root {
    --navBg: rgba(20,62,92);
    --navShadow: rgba(0, 0, 255, 0.2);
    --navLinkActive: #476e83;
  }
  
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
    background-color: var(--navBg);
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 10px 30px -10px var(--navShadow);
    width: 100%;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    width: 100%;
  }
  
  .brand {
    font-family: "Righteous";
    font-size: 1.25rem;
    text-decoration: none;
    color: black;
    transition: all 0.5s ease-in-out;
  }
  
  .brand:hover {
    color: var(--navLinkActive);
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-link {
    font-weight: bold;
    font-size: 1rem;
  
    text-decoration: none;
    color: black;
    transition: color 0.3s;
  }
  


  