#tsparticles{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.c1{
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.r1{
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: relative;
}
.img-parent{
  position: relative;
  width: 50vh;
 
}

.text-parent{
  word-wrap: break-word;
  background-clip: border-box;
  position: relative;
  height: 50vh;
}

.ul{
  list-style-type: none;
  margin: 0;
  text-align: left;
}
h1, h2,h3,h4,h5,h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

h1{
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.blockquote{
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.btn-primary{
  color: rgb(24, 2, 44) !important;
  background-color: #7500fa !important;
  border-color: #7500fa !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #7500fa !important;
  border-color: #7500fa !important;
 
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}